<%= form_with(model: @property, local: true) do |form| %>
  <p><%= form.label :物件名 %></p>
  <p><%= form.text_field :name %></p>

  <p><%= form.label :賃料 %></p>
  <p><%= form.text_field :price %>円</p>

  <p><%= form.label :住所 %></p>
  <p><%= form.text_field :address %></p>

  <p><%= form.label :築年数 %></p>
  <p><%= form.text_field :age %>年</p>

  <p><%= form.label :備考 %></p>
  <p><%= form.text_area :remarks %></p>

  <%= form.fields_for :stations do |stations_form| %>

    <h2>最寄り駅<%= @property.stations.id %></h2>
    <p><%= stations_form.label :路線名%></p>
    <p><%= stations_form.text_field :root_name %></p>

    <p><%= stations_form.label :駅名%></p>
    <p><%= stations_form.text_field :station_name %></p>

    <p><%= stations_form.label :徒歩分数%></p>
    <p><%= stations_form.text_field :time %>分</p>
  <% end %>

  <% if action_name == 'edit' %>
    <%= form.submit "更新"%>
    <% else %>
    <%= form.submit "登録"%>
  <% end %>
<% end %>
