<p><%= form.label :物件名 %></p>
<p><%= form.text_field :name %></p>

<p><%= form.label :賃料 %></p>
<p><%= form.text_field :price %>円</p>

<p><%= form.label :住所 %></p>
<p><%= form.text_field :address %></p>

<p><%= form.label :築年数 %></p>
<p><%= form.text_field :age %>年</p>

<p><%= form.label :備考 %></p>
<p><%= form.text_area :remarks %></p>
